# Obsidian device-specific files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/plugins/recent-files-obsidian/

# macOS
.DS_Store

# Your custom ignore
700 english/Book/
*.pdf
